<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>central</id>
      <!--      <username>${env.JFROG_USERNAME}</username>-->
      <!--      <password>${env.JFROG_PASSWORD}</password>-->
      <username>vinhdat4999@gmail.com</username>
      <password>cmVmdGtuOjAxOjE3MjI0NDkzNzE6Q2d0eU13WnRTbGF0YW9OdG1JRVU5R2tTaWRh</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>vinhdat4999@gmail.com</username>
      <password>cmVmdGtuOjAxOjE3MjI0NDkzNzE6Q2d0eU13WnRTbGF0YW9OdG1JRVU5R2tTaWRh</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>central</id>
      <url>https://repo.maven.apache.org/maven2</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>jfrog-auth</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://dattest.jfrog.io/artifactory/blas-maven-libs-release</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <url>https://dattest.jfrog.io/artifactory/blas-maven-libs-snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>
